<div class="row">
  <div class="col-md-6">
    <h3 style="padding-bottom: 50px">Subscribers</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Email</th>
          <th>categories</th>
          <th>salary</th>
          <th>city</th>
        </tr>
       </thead>
       <tbody>
          <tr ng-repeat="subscriber in admin.subscribers">
            <th scope="row">{{subscriber.email}}</th>
            <th scope="row">{{subscriber.categories}}</th>
            <th scope="row">{{subscriber.salary}}</th>
            <th scope="row">{{subscriber.city}}</th>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3 style="padding-bottom: 50px">Distributers</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Email</th>
          <th>categories</th>
          <th>salary</th>
          <th>city</th>
        </tr>
       </thead>
       <tbody>
          <tr ng-repeat="distributer in admin.distributers">
            <th scope="row">{{distributer.email}}</th>
            <th scope="row">{{distributer.category}}</th>
            <th scope="row">{{distributer.salary}}</th>
            <th scope="row">{{distributer.city}}</th>
          </tr>
        </tbody>
    </table>
  </div>
</div>
