<div class="main">
  <div class="container-fluid">
    <div class="row">
      <p class="text-center main-info" style="padding-bottom: 40px;">
        <a href="">Create</a> a CV in two clicks on our website! <br>
        <a href="">Publish</a> your offers on our website and get access to <a href="">CV database!</a>
      </p>
      <div class="col-md-4 col-md-offset-1">
        <h2 class="box-header">Subscribe and recieve vacancies to email</h2>
      </div>
      <div class="col-md-offset-2 col-md-4">
        <h2 class="box-header text-right">Distribute your vacancy to all subscribers</h2>
      </div>
    </div>
    <div class="row" style="margin: 0 15px">
      <div class="col-sm-4 col-md-4 col-md-offset-1 box-subscribe">
        <form name="subscribe-form" ng-submit="main.makeSubscribe()">
          <div class="box-body">
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon glyphicon-menu-hamburger box-input" id="basic-addon1"></span>
                <select class="js-example-basic-single js-category" id="leadadd_mode_of_enq" ng-model="main.subscriber.categories" multiple="multiple" style="width: 90%">
                  <option ng-repeat="category in main.categories" value="{{ category.text }}">{{ category.text }}</option>
                </select>
                <span class="glyphicon glyphicon-menu-down arrow-icon pull-right"></span>
              </div>
            </div>
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon glyphicon-map-marker box-input" id="basic-addon1"></span>
                <select class="js-example-basic-single js-city" data-placeholder="Select an option" id="leadadd_mode_of_enq" ng-model="main.subscriber.city" style="width: 90%">
                  <option></option>
                  <option ng-repeat="city in main.cities" value="{{ city.text }}">{{ city.text }}</option>
                </select>
                <span class="glyphicon glyphicon-menu-down arrow-icon pull-right"></span>
              </div>
            </div>
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon glyphicon glyphicon-signal box-input" id="basic-addon1"></span>
                <select class="js-example-basic-single js-salary" id="leadadd_mode_of_enq" ng-model="main.subscriber.salary" style="width: 90%">
                  <option></option>
                  <option ng-repeat="salary in main.salary" value="{{ salary.text }}">{{ salary.text }}</option>
                </select>
                <span class="glyphicon glyphicon-menu-down arrow-icon pull-right"></span>
              </div>
            </div>
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-envelope box-input" id="basic-addon1"></span>
                <input ng-model="main.subscriber.email" type="email" class="form-control box-input hover-red" id="exampleInputEmail1" placeholder="Email" >
              </div>
            </div>
          </div>
          <p style="color: white">{{main.subscriberErorMessage}}</p>
          <button type="submit" class="btn btn-default btn-subscribe">Subscribe</button>
        </form>
      </div>
      <div class="col-sm-4 col-md-4 col-md-offset-2 box-distribute">
        <form>
          <div class="box-body">
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-menu-hamburger box-input" id="basic-addon1"></span>
                <select class="js-example-basic-single js-category-single" id="leadadd_mode_of_enq" ng-model="main.distributer.category" style="width: 90%">
                  <option></option>
                  <option ng-repeat="category in main.categories" value="{{ category.text }}">{{ category.text }}</option>
                </select>
                <span class="glyphicon glyphicon-menu-down arrow-icon pull-right"></span>
              </div>
            </div>
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon glyphicon-map-marker box-input" id="basic-addon1"></span>
                <select class="js-example-basic-single js-city" id="leadadd_mode_of_enq" ng-model="main.distributer.city" style="width: 90%">
                  <option></option>
                  <option ng-repeat="city in main.cities" value="{{ city.text }}">{{ city.text }}</option>
                </select>
                <span class="glyphicon glyphicon-menu-down arrow-icon pull-right"></span>
              </div>
            </div>
            <div class="form-group box-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon glyphicon glyphicon-signal box-input" id="basic-addon1"></span>
                <select class="js-example-basic-single js-salary" id="leadadd_mode_of_enq" ng-model="main.distributer.salary" style="width: 90%">
                  <option></option>
                  <option ng-repeat="salary in main.salary" value="{{ salary.text }}">{{ salary.text }}</option>
                </select>
                <span class="glyphicon glyphicon-menu-down arrow-icon pull-right"></span>
              </div>
            </div>
            <div class="form-group box-group">
              <div class="input-group">
                 <span class="input-group-addon glyphicon glyphicon-envelope box-input" id="basic-addon1"></span>
                 <input type="email" ng-model="main.distributer.email" class="form-control box-input hover-red" id="exampleInputEmail1" placeholder="Email">
              </div>
            </div>
          </div>
          <p style="color: white">{{main.errorMessage}}</p>
          <button type="button" ng-click="main.validVacancy()" class="btn btn-default pull-right btn-distribute">Add vacancy and distribute</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-body">
        <form ng-submit="main.publishVacancy()">
          <div class="form-group box-modal">
            <div class="input-group">
              <span class="input-group-addon fa fa-building-o modal-input modal-icon" aria-hidden="true"></span>
               <input type="text" ng-model="main.distributer.companyName" class="form-control modal-input" id="exampleInputEmail1" placeholder="Company name * ">
            </div>
          </div>
          <div class="form-group box-modal">
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-briefcase modal-input modal-icon" id="basic-addon1"></span>
              <input type="text" ng-model="main.distributer.vacancyTitle" class="form-control modal-input" id="exampleInputPassword1" placeholder="Vacancy title * ">
            </div>
          </div>
          <div class="form-group box-modal modal-textarea">
            <textarea class="form-control modal-input" ng-model="main.distributer.vacancyDescription" placeholder="" rows="3">
              <!-- <p ng-model="main.distributer.vacancyDescription">Vacancy description.Please do not forget to enter Requirements, Responsibilities and Conditions</p> -->
            </textarea>
          </div>
          <div class="row">
            <p>{{main.errorMessage}}</p>
            <div class="col-md-4 col-md-offset-8 text-right">
              <button type="submit" class="btn btn-primary btn-send">Send</button>
              <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // tinymce.init({
  //   selector: 'textarea',
  //   height: 200,
  //   toolbar: 'bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  //   content_css: [
  //     '//www.tinymce.com/css/codepen.min.css'
  //   ]
  // });


</script>

<script type="text/javascript">
$(document).ready(function() {
  $(".js-category").select2({
    placeholder: "Select up to three categories...",
    maximumSelectionLength: 3
  });

  $(".js-category-single").select2({
    placeholder: "Select your category...",
  });

  $(".js-city").select2({
    placeholder: "Select your city...",
  });

  $(".js-salary").select2({
    placeholder: "Salary",
  });

});
</script>
