body {
  padding: 50px;
  font-family: 'Open Sans', Arial, sans-serif;
}

a {
  color: #00B7FF;
}

select {
width:90% !important;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.arrow-icon {
  color: #fff;
  font-size: 22px;
  margin-top: 5px;
  margin-right: 10px;
}

.box-header {
  margin-top: 50px;
  font-weight: bolder;
  font-size: 40px;
  line-height: 35px;
  color: #fff;
  font-family: inherit;
  margin-bottom: 0;
  line-height: 1.2;
}

.box-body {
  margin-top: 30px;
  margin-bottom: 40px;
}

.box-distribute .box-group:hover .hover-red, .box-subscribe .box-group:hover .hover-red{
  color: #E46455;
}

.box-group {
  border: 3px solid rgba(255,255,255, 0.2);
  padding: 14px;
  margin-bottom: 0px;
}

.box-subscribe .box-group:first-child {
  border-radius: 15px 15px 0 0;
}

.box-distribute .box-group:first-child {
  border-radius: 15px 15px 0 0;
}

.box-subscribe .box-group:last-of-type {
  border-radius: 0 0 15px 15px;
}

.box-distribute .box-group:last-of-type {
  border-radius: 0 0 15px 15px;
}

.box-input, .select2-container .select2-selection--multiple,
 .select2-container .select2-selection--single {
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  height: inherit;
  border: none;
  box-shadow: none;
}

.select2-container .select2-selection--multiple,
 .select2-container .select2-selection--single {
  color: #E46455!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
 .select2-container--default .select2-selection--single .select2-selection__choice {
  background: #E46455;
  color: #fff;
  border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--single .select2-selection__choice__remove {
  color: #fff;
}


.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
  border: none;
  color: #E46455;
}

.select2-search__field::-webkit-input-placeholder { color: #fff; }
.select2-search__field:-moz-placeholder { color: #fff; }

.select2-selection__arrow {
  display: none!important;
}

.select2-search__field:hover {
  color: #fff!important;
}

.select2-selection__rendered {
  color: #fff!important;
}

.select2-selection__placeholder:hover {
  color: #E46455!important;
}

.select2-selection__rendered:hover {
  color: #E46455!important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder { color: #fff; }

.box-input::-webkit-input-placeholder { color: #fff; }
.box-input:-moz-placeholder { color: #fff; }

.box-input:hover::-webkit-input-placeholder, .select2-search__field:hover::-webkit-input-placeholder { color: #E46455; }
.box-input:hover:-moz-placeholder, .select2-search__field:hover:-moz-placeholder { color: #E46455; }

.box-input:focus {
  box-shadow: none;
}

.btn-send {
  background: #E3F1FC;
  color: #318DCB;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.btn-cancel {
  background: #F4E4E1;
  color: #CE4D49;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.btn-subscribe {
  background: #339bdd;
  color: #fff;
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 20px;
  border-style: 3px;
}

.btn-distribute {
  background: #e54a37;
  color: #fff;
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 20px;
  border-style: 3px;
}

.popup-body {
  padding: 40px;
}

.box-modal {
  border-bottom: 1px solid #ddd;
}

.modal-input {
  height: inherit;
  border: none;
  box-shadow: none;
  color: #A0A6B2;
}

.modal-textarea {
  margin-top: 50px;
  margin-bottom: 30px;
}

.modal-icon {
  background: transparent;
}

.main-info {
  color: #fff;
  font-size: 26px;
}

a {
  text-decoration: underline;
  color: #94C6E4;
}


.main {
  background: url("/images/landing-hero-back.jpg") no-repeat;
  background-position: center top;
  background-blend-mode: color;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  overflow-y: hidden;
}
